EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=cuenta.smtp@example.com
EMAIL_HOST_PASSWORD=clave_o_token_de_aplicacion
DEFAULT_FROM_EMAIL=Sistema SMRI <cuenta.smtp@example.com>
EMAIL_TIMEOUT=10
